<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- Bootstrap core CSS --> 
  <link href="./css/bootstrap.css" rel="stylesheet" /> 
  <link href="./css/index.css" rel="stylesheet" /> 
  <link href="./css/config.css" rel="stylesheet" /> 
  <link href="./css/font-awesome.min.css" rel="stylesheet" /> 
 </head> 
 <body> 
  <div id="watch-example">
  <!-- nav导航 --> 
  <nav class="navbar navbar-inverse bdr-n z-ind"> 
   <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display --> 
    <div class="navbar-header"> 
     <a class="navbar-brand" href="#">服装销售信息管理系统</a> 
    </div> 
    <!-- Collect the nav links, forms, and other content for toggling --> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
     <ul class="nav navbar-nav navbar-right"> 
      <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <span class="caret"></span></a> 
       <ul class="dropdown-menu"> 
        <li onclick="logout()"><a href="#">退出</a></li> 
       </ul> </li> 
     </ul> 
    </div> 
   </div> 
  </nav> 
  <!-- 页面主体 --> 
  <div class="dh mainbox"> 
   <!-- 左边菜单 --> 
   <div class="navleft leftnav-bgc">
       <dl class="list_dl">
           <ul>
   			<li class="list_li"><a class="list_a" href="./customerManage.html">客户管理</a></li>
   			<li class="list_li"><a class="list_a" href="./clothesManage.html">服装管理</a></li>
   			<li class="list_li"><a class="list_a" href="./factoryManage.html">服装厂商管理</a></li>
   			<li class="list_li"><a class="list_a" href="./storeManage.html">库存信息</a></li>
   			<li class="list_li"><a class="list_a" href="./saleInfo.html">销售信息</a></li>
   		</ul>
       </dl>
   </div>
   <!-- 右边主显示部分 --> 
   <div> 
    <div class="main-rightbox"> 
     <div class="mainrightbox"> 
      <!-- 路径导航 --> 
      <ol class="breadcrumb"> 
       <li><a href="#">销售信息</a></li> 
      </ol> 
      <!-- 主体部分 --> 
      <div class="main_box"> 
       <blockquote> 
        <div class="container-fluid"> 
         <div class="row"> 
          <div class="card-body"> 
           <div class="table-responsive"> 
            <table class="table table-condensed"> 
             <thead> 
              <tr> 
               <th> <label class="lyear-checkbox checkbox-primary"> <input type="checkbox" id="check-all" /><span></span> </label> </th> 
               <th>编号</th> 
               <th>服装名称</th> 
               <th>进价</th> 
               <th>售价</th> 
               <th>销量</th> 
              </tr> 
             </thead> 
             <tbody> 
              <tr v-for="good in saleInfos">  
               <td> <label class="lyear-checkbox checkbox-primary"> <input type="checkbox" name="ids[]" value="1" /><span></span> </label> </td> 
               <td>{{good.id}}</td> 
               <td>{{good.clothes_name}}</td> 
               <td>{{good.price_in}}</td> 
               <td>{{good.price_out}}</td> 
               <td>{{good.sale_amount}}</td> 
               <td> 
                <div class="btn-group"> 
                 <a class="btn  btn-success" data-toggle="modal" data-target="#myModal" v-on:click="setID(good.id,good.clothes_name)">修改</a> 
                 <a class="btn  btn-info" v-on:click="deleteById(good.id)">删除</a> 
                </div> </td> 
              </tr> 
             </tbody> 
            </table> 
           </div> 
          </div>
         </div> 
        </div> 
       </blockquote> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document"> 
  		<div class="modal-content"> 
  		 <div class="modal-header"> 
  		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
  		  <h4 class="modal-title" id="gridSystemModalLabel">修改销售信息</h4> 
  		 </div> 
  		 <div class="modal-body"> 
  		  <form class="form-horizontal"> 
  		   <div class="form-group"> 
  			<label for="inputEmail3" class="col-sm-3 control-label">服装名称</label> 
  			<div class="col-sm-6"> 
  			 <input type="email" class="form-control" id="inputEmail3" v-bind:value="clothes_name" disabled="" /> 
  			</div> 
  		   </div> 
  		   <div class="form-group"> 
  			<label for="inputPassword3" class="col-sm-3 control-label">进价</label> 
  			<div class="col-sm-6"> 
  			 <input v-model="price_in" type="email" class="form-control" id="inputPassword3" placeholder="修改进价" /> 
  			</div> 
  		   </div> 
  		   <div class="form-group"> 
  			<label for="inputN01" class="col-sm-3 control-label">售价</label> 
  			<div class="col-sm-6"> 
  			 <input v-model="price_out" type="email" class="form-control" id="inputPassword3" placeholder="修改售价" /> 
  			</div> 
  		   </div> 
  		   <div class="form-group"> 
  			<label for="inputN01" class="col-sm-3 control-label">销量</label> 
  			<div class="col-sm-6"> 
  			 <input v-model="sale_amount" type="email" class="form-control" id="inputPassword3" placeholder="修改销量" /> 
  			</div> 
  		   </div> 
  		  </form> 
  		 </div> 
  		 <div class="modal-footer"> 
  		  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
  		  <button type="button" class="btn btn-primary" v-on:click="updateInfo">提交</button> 
  		 </div> 
  		</div>
  		<!-- /.modal-content --> 
   </div> 
  </div> 
  <div class="modal fade" id="myAddModal" tabindex="-1" role="dialog"> 
   <div class="modal-dialog" role="document"> 
  			<div class="modal-content"> 
  			 <div class="modal-header"> 
  			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
  			  <h4 class="modal-title" id="gridSystemModalLabel">新增销售信息</h4> 
  			 </div> 
  			 <div class="modal-body"> 
  			  <form class="form-horizontal"> 
  			   <div class="form-group"> 
  				<label for="inputEmail3" class="col-sm-3 control-label">服装名称</label> 
  				<div class="col-sm-6"> 
  				 <select v-model="clothes_id" class="form-control" id="inputN01" name="inputN01"> <option value="">请选择</option> <option v-for="clothes in clotheses" v-bind:value="clothes.id">{{clothes.name}}</option> </select> 
  				</div> 
  			   </div> 
  			   <div class="form-group"> 
  				<label for="inputPassword3" class="col-sm-3 control-label">进价</label> 
  				<div class="col-sm-6"> 
  				 <input v-model="price_in" type="email" class="form-control" id="inputPassword3" placeholder="修改进价" /> 
  				</div> 
  			   </div> 
  			   <div class="form-group"> 
  				<label for="inputN01" class="col-sm-3 control-label">售价</label> 
  				<div class="col-sm-6"> 
  				 <input v-model="price_out" type="email" class="form-control" id="inputPassword3" placeholder="修改售价" /> 
  				</div> 
  			   </div> 
  			   <div class="form-group"> 
  				<label for="inputN01" class="col-sm-3 control-label">销量</label> 
  				<div class="col-sm-6"> 
  				 <input v-model="sale_amount" type="email" class="form-control" id="inputPassword3" placeholder="修改销量" /> 
  				</div> 
  			   </div> 
  			  </form> 
  			 </div> 
  			 <div class="modal-footer"> 
  			  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
  			  <button type="button" class="btn btn-primary" v-on:click="addInfo">提交</button> 
  			 </div> 
  			</div><!-- /.modal-content --> 
   </div> 
  </div> 
  </div>
  <!-- 引入公共js文件 --> 
  <script src="./js/jquery-3.3.1.min.js"></script> 
  <script src="./js/jquery.slimscroll.min.js"></script> 
  <script src="./js/bootstrap.min.js"></script> 
  <script type="text/javascript" src="./js/vue.min.js"></script> 
  <script type="text/javascript" src="./js/axios.min.js"></script> 
  <script>
        // 此方法为切换左边菜单的js文件
        $(".list_dt").on("click", function() {
            $('.list_dd').stop();
            $(this).siblings("dt").removeAttr("id");
            if ($(this).attr("id") == "open") {
                $(this).removeAttr("id").siblings("dd").slideUp();
            } else {
                $(this).attr("id", "open").next().slideDown().siblings("dd").slideUp();
            }
        });
        // 退出
        function logout() {
            window.location.href = "./login.html";
        }
		
		var watchExampleVM = new Vue({
				el: '#watch-example',
				data: {
					id:'',
					clothes_name:'',
					price_in:'',
					price_out:'',
					sale_amount:'',
					amount:'',
					
					clothes_id:'',
					clotheses:[],
					saleInfos:[],
				
					url: 'http://127.0.0.1:8000/clothesManageSystem/'
				},
				created: function () {
						this.getGoods();
					  },
				
				methods: {
					getGoods: function(){
						vm = this;
						
						url = vm.url + 'inventory/'
						
						axios.get(url).then(function (res) {
							if (res.data.status == 0) {
								vm.saleInfos = res.data.result
							} 
						}).catch(function (error) {
							alert('库存数据请求失败！！！')
						});
						
					},
					
					getClothes: function(){
						vm = this;
						url = vm.url + 'clothes/'
						axios.get(url).then(function (res) {
							if (res.data.status == 0) {
								vm.clotheses = res.data.result
							} 
						}).catch(function (error) {
							alert('用户数据请求失败！！！')
						});
					},
					deleteById:function(id){
						url = vm.url + 'inventory/'+ id + '/'
						axios.delete(url).then(function (res) {
							if (res.data.status == 0) {
								alert('数据删除成功')
								location.reload()
							} 
						}).catch(function (error) {
							alert('库存数据请求失败！！！')
						});
					},
					setID: function(id,name){
						this.id=id
						this.clothes_name=name
					},
					
					updateInfo: function(){
						
						vm = this;
						if(vm.id=='' || vm.clothes_name=='' ||vm.price_in=='' || vm.price_out=='' || vm.sale_amount==''){
							alert('不允许信息为空')
						}else{
							url = vm.url + 'inventory/'+vm.id+'/'
							axios.put(url, {
								clothes_name:vm.clothes_name,
								price_in:vm.price_in,
								price_out:vm.price_out,
								sale_amount:vm.sale_amount,
								
							}).then(function (res) {
								if (res.data.status == 0) {
									
									alert('恭喜 修改信息成功！！！')
									location.reload()
								} else {
									alert('修改信息失败，请稍后重试！！！')
								}
							}).catch(function (error) {
								alert('修改信息服务请求失败！！！')
							});
						}
					},
					addInfo: function(){
						vm = this;
						if(vm.clothes_id=='' ||vm.price_in=='' || vm.price_out==''||vm.amount==''){
							alert('不允许信息为空')
						}else{
							url = vm.url + 'inventory/'
							axios.post(url, {
								clothes:vm.clothes_id,
								amount:vm.amount,
								sale_amount:vm.sale_amount,
								price_in:vm.price_in,
								price_out:vm.price_out
								
							}).then(function (res) {
								if (res.data.status == 0) {
									
									alert('恭喜 新增信息成功！！！')
									location.reload()
								} else {
									alert('新增信息失败，请稍后重试！！！')
								}
							}).catch(function (error) {
								alert('新增信息服务请求失败！！！')
							});
						}
					}
					
				}
			})
		
    </script>  
 </body>
</html>